.main {
	width: 100vw;
	min-height: 100vh;
	margin: 0;
}

.header {
  background-color: #021334;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.cards {
  /* background-color: red; */
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
